@import './positions.styl'

size($w, $h = $w)
	width: $w
	height: $h

_prefix(tag, args)
	-webkit-{tag}: args
	-moz-{tag}: args
	-o-{tag}: args
	{tag}: args

transition()
	_prefix: 'transition', arguments

transform()
	_prefix: 'transform', arguments


$giantFont = 40px
$bigFont = 30px
$regFont = 20px
$smallFont = 16px

body
	margin: auto
	background: #eee

.container
	width: 600px
	margin: $giantFont auto

	> h3
		margin-top: 0

	h1
		font-weight: 900
		margin-top: 0

#new-entry
	font-size: $giantFont
	line-height: 1em
	padding: .5em 1em

	input, button
		font-size: $regFont

	button
		outline: none

	> div
		.btn-question
			display: table
			width: 100%
			padding: 8px $regFont

			&.filled
				.word, .value
					display: table-cell
					vertical-align: middle

				.word
					width: 0
					opacity: 0.7

				.value
					width: 100%
					padding-left: $regFont
					font-size: 50%
					line-height: 1em
					white-space: normal


		.component
			height: 0
			min-height: 0
			transition: height .3s ease
			padding: 0 20px
			background: #eee
			border: 1px solid #ccc

			font-size: $regFont
			overflow: hidden

			// list of sugggested items
			li
				line-height: 1em
				margin: 5px

				.btn-link
					padding: 0

			// the freeform text field and submit button
			.input-group
				input, button
					height: auto
					padding: 10px
					line-height: 1em

				input
					text-align: center
					padding-top: 8px
					padding-bottom: 8px

			small
				display: block
				padding-top: 5px
				font-size: 70%
				line-height: 1em
				font-style: italic
				em
					font-style: normal

			.close
				absolute: top 11px right 50px

		// full-size when active
		&.active#what .component
			height: 175px

		&.active#when .component
			height: 125px

	.question
		> div
			text-transform: lowercase
			&.you, &.what, &.when
				font-weight: 900
			&.where, &.why
				font-size: .8em
			i
				display: inline-block
				width: 30px
				height: 1em
				font-size: .7em
				text-align: center
				vertical-align: baseline
				text-decoration: none
				margin-right: 10px

		button
			font-weight: 900
			font-size: $bigFont
			margin-top: 8px


	h1
		padding: 6px 12px

	#what, #when
		margin: .5em 0
		position: relative

		> button
			font-size: $giantFont
			line-height: 1em

	#done
		button
			font-size: $bigFont

			&#did
				font-weight: bold

#login
	font-size: $smallFont
	padding: 2em

	.login-button
		font-size: $bigFont

	.login-image
		top: 50%
		margin-top: -8px

#history
	font-size: $regFont
	overflow: hidden

	.entry
		h3
			margin: .25em 0

		.actions
			absolute: top 50% right -30px
			margin-top: -27px
			transition: right .3s ease

			button
				margin-bottom: 10px

		&:hover .actions
			right: 10px
